@model System.Collections.Generic.List<KK.AspNetCore.Images.Samples.Web.Models.Services.Image>

@{
    ViewData["Title"] = "Home Page";
}

@section navigation {
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">
        <i></i>
        <i></i>
        <i></i>
    </label>

    <aside id="nav">
        <span id="searchbox">
            <label for="search">search: </label>
            <input id="search" type="search" placeholder="search">
        </span>
        <a href="./" class="active">stack</a>
        <a href="http://">table</a>
        <a href="http://">year</a>
        <span class="devider"></span>
        <a href="http://">gear</a>
        <a href="http://">about</a>
    </aside>
}

    <article>
        <div>
            <div class="devider">
                <h3>2019</h3>
                <div class="preview">
@foreach (var image in Model.Take(20))
{
                    <div>
                       <a href="#@image.Name">
                           <image class="awesome_image" src="@image.Name" alt="@image.PhysicalPath"
                                sizes="(max-height: 66.666vw) 30vh, 20vw" loading="lazy" />
                        </a>
                    </div>
}
                </div>
            </div>
        </div>
    </article>

@foreach (var image in Model)
{
    <article id="@image.Name">
        <div>
            <div>
                <a id="@image.Name" asp-route="ImageDetails" asp-route-image="@image.Name">
                    <!-- <picture class="awesome_image" src="@image.Name" alt="@image.PhysicalPath" /> -->
                    <image class="awesome_image" src="@image.Name" alt="@image.PhysicalPath"
                        sizes="(max-height: 66.666vw) 150vh, 100vw" loading="lazy" />
                </a>
            </div>
        </div>
    </article>
}
    <article>
        <div>
            <div class="devider">
                <h3>Ende!</h3>
            </div>
        </div>
    </article>

@section scripts {

}
